.header {
    background-color: $color2;
    position: sticky;
    top: 0;
    left: 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }

    &__menu {
        display: flex;

        &-item {
            font-weight: bold;
            margin-left: 24px;

            &-link {
                color: $color3;
                text-decoration: none;
            }
        }
    }
}

